<head>

  <title>Oportunidad de Trabajo: Diseñador Web Senior - Fábrica de Software</title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">

  <!-- Open Graph -->
  <!-- <meta property="fb:app_id" content="" /> -->
  <meta property="og:url" content="http://fabricadesoftware.mx/vacantes/disenador-web-senior/" />
  <meta property="og:site_name" content="FabricaDeSoftware.mx" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Oportunidad de Trabajo: Diseñador Web Senior" />
  <meta property="og:description" content="Diseñador gráfico especializado en  interfaces para páginas y aplicaciones web 100% responsivas. Morelia, Michoacán y Ciudad de México." />
  <meta property="og:image" content="http://fabricadesoftware.mx/img/og-cover-fabrica.jpg" />
  <!-- /Open Graph -->

  <!-- Render Engine -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/custom-theme.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/0c62ebd2e2.js"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link rel="apple-touch-icon" href="../../images/ios-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- /Render Engine -->

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48190811-4', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /Google Analytics -->

</head>

<body>

  <div class="navbar">
    <div class="container">
      <p class="nav-title uppercase"><a href="http://fabricadesoftware.mx">Fábrica de Software</a></p>
    </div>
  </div>


  <div class="content container">


    <div class="row vacantes">

      <div class="back-link col-xs-12" style="margin-bottom: 0;">
        <p><a href="../../"><i class="fa fa-arrow-left" aria-hidden="true"></i> Oportunidades de Trabajo</a></p>
      </div>

      <div class="p-group col-xs-12 col-sm-10 col-md-8" style="margin-bottom: 0;">
        <h1 class="title section-title uppercase">Diseñador Web Senior</h1>

        <p>Está posición es ideal para un diseñador gráfico especializado en interfaces para páginas y aplicaciones web 100% responsivas (Photoshop, Illustrator, Sketch) con muy buenas habilidades interpersonales y carácter ejecutivo.</p>

        <p>Esta persona es responsable de mantener canales de comunicación con el cliente para aterrizar la especificación del producto, crear maquetas visuales para los desarrolladores y verificar que todos los componentes tengan la apariencia y funcionalidad correcta.</p>

        <p>Este puesto debe garantizar la satisfacción del cliente. Por lo tanto requiere intensa atención al detalle, fuertes habilidades organizacionales y capacidad de comunicarse de forma asertiva y amigable.</p>
      </div>

      <div class="p-group col-xs-12 col-sm-10 col-md-8">
        <h2 class="small-title" style="margin-left: 0;">Manda tu solicitud</h2>
        <p>Envía un email a <a href="mailto:juanadrian@icloud.com?subject=Oportunidades de Trabajo Fábrica de Software - Diseñador Web Senior">juanadrian@icloud.com</a> con tu información, historia laboral, educación y ejemplos de proyectos que hayas realizado. Cuéntanos sobre ti y por que te interesa la vacante. </p>
      </div>
      <!-- .item -->


    </div>
    <!-- .row -->

  </div>
  <!-- / .content -->

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="p-group col-xs-12 col-sm-10 col-md-8" style="margin-bottom: 0;">
          <h2 class="section-title uppercase" style="margin-left: 0;">Quienes Somos</h2>

          <p><strong>Fábrica de Software</strong> es una empresa de desarrollo de aplicaciones web basada en Morelia, Michoacán. Nuestros clientes incluyen universidades, secretarías de gobierno, gasolineras, constructoras y hasta una cervecería artesanal.</p>

          <p>Creemos en cultivar excelencia en tecnología y diseño. Por eso siempre estamos refinando nuestro oficio y buscando nuevas maneras de colaborar.</p>

          <p>Nuestra dinámica de trabajo se basa en repositorios compartidos a través de SourceTree, reuniones presenciales frecuentes, comunicación constante en Slack y seguimiento de tareas en Asana. </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Core -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <!-- /Bootstrap Core -->

</body>
