
/*

Cover

*/

.Cover {
  background: #faf2e7;
  padding: 98px 0 40px 0;

  @include sm {
    padding-top: 120px;
  }

  .card {

    .card-title-container {
      position: relative;
      margin-bottom: 20px;

      @include sm {
        min-height: 70px;
      }

      @include lg {
        min-height: 100px;
      }
    }

    .card-title {
      @include sm {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }

      @include lg {
        font-size: 42px;
      }
    }

    .card-text {
      margin-bottom: 20px;

      @include lg {
        font-size: 24px;
        margin-bottom: 40px;
      }
    }

    .btn {
      margin: 0 auto 20px;
      width: 75%;

      @include lg {
        font-size: 24px;
      }
    }
  } // .card
} // .Cover
