.CreatePost {

  .card {
    .title {
      margin-bottom: 0;
      @include xs() {
        font-size: 1.3em;
        
      };
    }
    .bg-success {
      background: #8dd86a !important;
    }

    .bg-danger {
      background: #f26052 !important;
    }

    .card-header {
      border-bottom: 0;
    }
    .x-close {
      a {
        color: white;
        padding: 0 10px;
        .fa-times {
          font-size: 1.5em;
        }
      }
    }
  }

  label{
    font-weight: bolder;
    font-size: 1.2em;
  }
}
