
/*

Donativos

*/

.Donativos {
  background: #faf2e7;
  padding: 50px 0;

  @include xs {
    padding: 0;
  }

  .card {
    margin-bottom: 0;

    @include xs {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }

    h1 {
      font-weight: bold;
    }

    h2 {
      margin-left: 0;
    }

    .card-title {
      margin-bottom: 30px;
    }

    .PayPal {
      text-align: center;
      margin: 30px 0 50px 0;

      .donate-button {
        width: 300px;

        @include xs {
          width: 260px;
        }
      }
    }

    .horizontal-divider {
      margin: auto -15px;
    }

    .form-group {
        padding-bottom: 5px;

      label {
        text-align: right;
      }
    } // .form-group

    .form-footer {
      position: relative;
      height: 2.3em;

      span {
        padding-left: 0;
        font-size: 12px;
        line-height: 12px;
        margin: 0;
        display: block;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      button {
        position: absolute;
        right: 0;
      }
    }
  } // .card
} // .Donativos
