
/*

Feed

*/

.Feed {
  background: #f7f7f7;
  padding: 20px 0;

  h2 {
    margin: 20px 0 30px 0;

    @include md {
      font-size: 40px;
    }

    @include lg {
      font-size: 50px;
    }
  }

  .card {
    margin-bottom: 20px;
  }
}
