.help {
  .card-title {
    @include xs() {
      font-size: 2.5em;
    }
    font-size: 4em;
    font-weight: 600;
    margin: 1em 0;
  }

  .card-text {
    @include xs() {
      padding: 0;
      text-align: left;
      line-height: 1.3;
    }
    margin: 2.5em 0 5.4em;
    font-size: 1.5em;
    padding: 0 1.3em;
    line-height: 1.7;
  }

  .btn-solicita {
    @include xs() {
      width: 100%;
      text-align: center;
      font-size: 1.3em;
      line-height: 2.2;
    }
    width: 370px;
    height: 65px;
    margin: 0 auto;
    font-size: 1.7em;
    line-height: 1.7;
    background: #62E867;
    font-weight: bold;
    border: 0;
    border-radius: 0.3em;
  }

  .btn-info {
    background: none;
    border: 0;
    color: #48a74b;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}
