
.horizontal-divider {
  height: 1px;
  background: #eee;
  margin-bottom: 20px;
  clear: both;
}

.btn-success {
  background: #8dd86a;
  border: 0;
  margin-top: 10px;
  width: 130px;

  &:hover {
    background: #7dc35d;
  }
}

.btn-danger {
  background: #f26052;
  border: 0;
  margin-top: 10px;
  width: 130px;

  &:hover {
    background: #d0493c;
  }
}

.link-success,
.text-success {
  color: #6aa250;

  &:hover {
    color: #6aa250;
  }
}

.link-danger {
  color: #b5483e;

  &:hover {
    color: #b5483e;
  }
}

.nowrap {
  display: inline-block;
}

.card {
  margin-bottom: 15px;
  border: 0;
  overflow: hidden;
}

.image-placeholder {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
}

// .necesito-form
  .necesito-form,
// .necesito-show
  .necesito-show,
// .ofrezco-form
  .ofrezco-form,
// .ofrezco-show
  .ofrezco-show {
    background: #faf2e7;
  }

  .CreatePost,
  .NecesitoShowContainer,
  .OfrezcoShowContainer {
    padding-top: 120px;
  }

  .NecesitoShowContainer,
   {
     .bg-danger{
       background: #f26052 !important;
     }

     .card-header {
       border-bottom: 0;
     }

  }

  .OfrezcoShowContainer {
    .bg-success {
      background: #8dd86a !important;
    }


    .card-header {
      border-bottom: 0;
    }

  }
