.navbar {
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  height: 56px;

  @include sm {
    height: 65px;
  }

  .navbar-brand {
    position: absolute;
    top: -10px;
    z-index: 99;
    left: 10px;

    @include md {

    }

    img {
      width: 90px;

      @include sm {
        width: 110px;
      }
    }
  }

  .navbar-nav {
    align-items: center;

    .mensajes {
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: red;
      }
    }
  }

  ul {
    li {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .img-user {
    padding: 5px;
    width: 40px;
    height: 40px;
  }

  .user {
    font-size: 1.3em;
  }

  .navbar-toggler {
    background: none;
    border: 0;
    position: absolute;
    right: 15px;
  }

  .navbar-collapse {
    background: white;
    background: rgba(255,255,255,0.95);
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;

    @include md {
      top: 4px;
      background: none;
      border: 0;
    }

    .nav-link {
      @include md {
        margin-right: 20px;
      }
    }
  }
}
