.necesito-apoyo {
  .card-body {
    background: #faf2e7;
    padding: 22px 0;

    .card-title {
      font-weight: bolder;
      margin: 15px 0;
    }
  }

  .section-content {
    @include xs() {
      padding: 0.5em;
    };
    padding: 2.5em;
  }

  .btn-contact {
    .contacto {
      @include xs() {
        width: 100%;
        line-height: 1.55;
        text-align: center;
        margin-bottom: 1em;
      };
      background: #FF4E3F;
      border: 0;
      width: 145px;
      height: 45px;
      font-size: 1.2em;
      font-weight: 700;
      
    }

    .info {
      color: #FF4E3F;
      font-size: 1.2em;
    }
  }

  .shared {
    padding: 0;
    line-height: 4;

    .list-inline-item {
      margin-right: 10px;

      a {
        font-weight: normal;
        color: #FF4E3F;
      }
    }
  }
}
