.section-profile {
  text-align: left;
  padding-bottom: 20px;

  .img-profile {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  .profile-info {
    @include xs() {
      width: 188px;
    };
    display: inline-block;
    vertical-align: middle;

    .name {
      font-weight: bolder;
    }

    .date {
      color: #7e7e7e;
    }
  }

  p {
    margin: 0;
  }

  .shared {
    @include xs() {
      text-align: center;

      .list-inline-item {
        padding: 0 0.5em;
        font-size: 1.3em;
      }
    };
    padding: 0;
    line-height: 4;

    .list-inline-item {
      margin-right: 10px;

      a {
        font-weight: normal;
        color: #62E867;
      }
    }
  }
}
