/*

Publicación

*/
.Publicacion {

  .img-profile {
    width: 30px;
    float: left;
  }

  .name-date {
    margin-left: 40px;
    margin-bottom: 18px;
    position: relative;
    bottom: 2px;

    p {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;

      &.name {
        font-weight: bold;
      }

      &.date {
        color: #666;
      }
    } // p
  } // .name-date

  .horizontal-divider {
    margin-left: -20px;
    margin-right: -20px;
  }

  .publicacion-body {

    .card-title {
      font-size: 22px;
      margin-bottom: 0;
    }

    .city {
      margin-bottom: 25px;
    }

    .card-text {
      margin-bottom: 30px;
      color: #666;
    }

    .actions {
      margin-bottom: 10px;
    }

    .btn {
      margin-right: 20px;
      margin-top: 0;


      &:hover,
      &:focus,
      &:active {
        border: 0;
      }
    } // .btn

    .link {
      display: inline-block;
    } // .link
  } // .publicacion-body
} // .Publicacion
