.post {
  .puedo-ayudar {
    .card-body {
      background: #faf2e7;
      padding: 22px 0;

      .card-title {
        font-weight: bolder;
        margin: 15px 0;
      }
    }

    .section-content {
      padding: 2.5em;
      @include xs() {
        padding: 0.5em;
      };
    }

    .btn-contact {
      .contacto {
        @include xs() {
          width: 100%;
          line-height: 1.55;
          text-align: center;
          margin-bottom: 1em;
        };
        background: #62E867;
        border: 0;
        width: 145px;
        height: 45px;
        font-size: 1.2em;
        font-weight: 700;

      }

      .info {
        color: #48a74b;
        font-size: 1.2em;
      }

    }

  }

}
