<head>

    <title>JuanAdrian.com – Startup Founder, Desarrollador Front End y Artista Digital</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <!-- Open Graph -->
    <!-- <meta property="fb:app_id" content="" /> -->
    <meta property="og:url" content="http://juanadrian.com" />
    <meta property="og:site_name" content="JuanAdrian.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Juan Adrian Garcia Cid" />
    <meta property="og:description" content="Startup Founder, Desarrollador Front End y Artista Digital." />
    <meta property="og:image" content="http://juanadrian.com/img/og-cover-juanadrian.jpg" />
    <!-- /Open Graph -->

    <!-- Render Engine -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-theme-article-xxx.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="apple-touch-icon" href="images/ios-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- /Render Engine -->

    <!-- Google Analytics -->
    <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58697203-1', 'auto');
      ga('send', 'pageview');
    </script> -->
    <!-- /Google Analytics -->

</head>

<body class="article">

    <div class="navbar">
        <div class="container">
            <p class="uppercase">Juan Adrian Garcia Cid</p>
        </div>
    </div>

    <div class="container navbar-buffer">

        <div class="row cover-gradient-local">

            <div class="col-xs-12">
                <!-- <p class="layout-id">Layout: </p> -->
                <!-- <img src="img/moreliahacks_logo.png" alt="Morelia Hacks!" class="moreliahacks_logo"> -->

                <h1 class="article-hero-headline">La Experiencia Morelia Hacks: Lecciones del Hacking Cívico.</h1>

                <img src="img/placeholder-cover.jpeg" alt="" class="section-cover img-responsive" />
                <p class="caption">Ceremonia de clausura, Innovation Day 2016.</p>

                <p class="article-intro">Climate change is undeniable. Earth’s resources won’t last forever. And technology must be safe for people to make and use. We don’t question these realities — we challenge ourselves to ask what we can do about them in every part of our business.</p>

                <p class="article-intro"><a href="#">Visita la página de Facebook de Morelia Hacks<img src="img/link-icon-arrow-right.png" class="link-icon"></a></p>

            </div>
            <!-- / .col -->

        </div>
        <!-- / .row -->

        <div class="row">
          <div class="col-xs-12">

            <h2 class="section-hero-headline extra-v-margin">Los Retos de Construir y Promover una Comunidad</h2>

            <p class="article-intro">Los proyectos de construcción son retos complejos y dinámicos. Almirante te mantiene informado del estado de tus obras para que puedas tomar las mejores decisiones. Controla tus recursos fácilmente, gestiona las actividades de tus trabajadores y colabora con tu equipo desde donde estes.</p>

            <h2 class="section-reduced-headline extra-v-margin">Comunicación</h2>

            <h3 class="section-hero-headline">La Teoría y la Práctica de Contar una Historia</h3>

            <p class="article-content">Los proyectos de construcción son retos complejos y dinámicos. Almirante te mantiene informado del estado de tus obras para que puedas tomar las mejores decisiones. Controla tus recursos fácilmente, gestiona las actividades de tus trabajadores y colabora con tu equipo desde donde estes.</p>

            <h3 class="section-hero-headline extra-v-margin">Capitalizar el Alcance de la Redes Sociales</h3>

            <p class="article-content">Los proyectos de construcción son retos complejos y dinámicos. Almirante te mantiene informado del estado de tus obras para que puedas tomar las mejores decisiones. Controla tus recursos fácilmente, gestiona las actividades de tus trabajadores y colabora con tu equipo desde donde estes.</p>

            <h3 class="section-hero-headline extra-v-margin">La Complejidad de la Comunicación Interna</h3>

            <p class="article-content">Los proyectos de construcción son retos complejos y dinámicos. Almirante te mantiene informado del estado de tus obras para que puedas tomar las mejores decisiones. Controla tus recursos fácilmente, gestiona las actividades de tus trabajadores y colabora con tu equipo desde donde estes.</p>

            <h2 class="section-reduced-headline extra-v-margin">Comunicación</h2>

            <h3 class="section-hero-headline">La Teoría y la Práctica de Contar una Historia</h3>

            <p class="article-content">Los proyectos de construcción son retos complejos y dinámicos. Almirante te mantiene informado del estado de tus obras para que puedas tomar las mejores decisiones. Controla tus recursos fácilmente, gestiona las actividades de tus trabajadores y colabora con tu equipo desde donde estes.</p>

          </div>
          <!-- / .col -->
        </div>
        <!-- / .row -->

    </div>
    <!-- / .content -->

    <!-- Local Styles -->
    <style>

      .cover-gradient-local {
        background: #eff7f7;
      }

    </style>

  	<!-- Bootstrap Core -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  	<!-- /Bootstrap Core -->

</body>
