<head>

    <title>Oportunidades de Trabajo - Fábrica de Software</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <!-- Open Graph -->
    <!-- <meta property="fb:app_id" content="" /> -->
    <meta property="og:url" content="http://fabricadesoftware.mx" />
    <meta property="og:site_name" content="FabricaDeSoftware.mx" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Oportunidades de Trabajo - Fábrica de Software" />
    <meta property="og:description" content="Únete a nuestro equipo. Fábrica de Software somos una empresa de desarrollo de aplicaciones web basada en Morelia, Michoacán." />
    <meta property="og:image" content="http://fabricadesoftware.mx/img/og-cover-fabrica.jpg" />
    <!-- /Open Graph -->

    <!-- Render Engine -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-theme.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="apple-touch-icon" href="images/ios-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- /Render Engine -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48190811-4', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- /Google Analytics -->

</head>

<body>

    <div class="navbar">
        <div class="container">
            <h1 class="nav-title uppercase"><a href="http://fabricadesoftware.mx">Fábrica de Software</a></h1>
        </div>
    </div>


    <div class="content container">


      <div class="row vacantes">

          <div class="col-xs-12 col-sm-10">
              <h2 class="section-title uppercase" style="margin-left: 0;">Oportunidades de Trabajo</h2>
          </div>


          <div class="item col-xs-12 col-sm-10 col-md-8">
              <h3 class="small-title">Gerente de Proyecto, <span>Aplicaciones Web</span></h3>
              <p>Responsable de mantener canales de comunicación con el cliente, capturar y darle seguimiento a las tareas pendientes y producir todo el código que sea necesario. Desarrollador full stack experto (JavaScript, HTML, CSS, PHP) con muy buenas habilidades organizacionales y carácter ejecutivo.</p>
              <p><a href="vacantes/gerente-de-proyecto-aplicaciones-web">Ver Detalles</a></p>
          </div><!-- .item -->


          <div class="item col-xs-12 col-sm-10 col-md-8">
              <h3 class="small-title">Diseñador Web Senior</h3>
              <p>Responsable de crear maquetas visuales para páginas y aplicaciones web. Mantiene canales de comunicación con el cliente para aterrizar la especificación del producto. Este puesto tiene cáracter ejecutivo y debe garantizar la satisfacción del cliente.</p>
              <p><a href="vacantes/disenador-web-senior">Ver Detalles</a></p>
          </div><!-- .item -->


          <div class="item col-xs-12 col-sm-10 col-md-8">
              <h3 class="small-title">Desarrollador Back End Junior</h3>
              <p>Responsable de crear entornos de producción, configurar bases de datos, crear módulos, CRUDs, configurar APIs y publicar cambios al servidor de producción. Al menos dos años de experiencia en desarrollo de back end para aplicaciones web (JavaScript, PHP).</p>
              <p><a href="vacantes/desarrollador-back-end-junior">Ver Detalles</a></p>
          </div><!-- .item -->


          <div class="item col-xs-12 col-sm-10 col-md-8">
              <h3 class="small-title">Desarrollador Front End Junior</h3>
              <p>Responsable de producir componentes web 100% responsivos a partir de especificaciones y maquetas en formato PSD. Al menos dos años de experiencia en desarrollo de interfaces para páginas y aplicaciones web (HTML, CSS).</p>
              <p><a href="vacantes/desarrollador-front-end-junior">Ver Detalles</a></p>
          </div><!-- .item -->

      </div><!-- .row -->


        <div hidden class="row projectos">

            <div class="col-xs-12">
                <h2 class="uppercase">Proyectos</h2>
            </div>

            <div class="col-xs-12 col-sm-6 left-column">
                <div class="img-responsive-container">
                    <img src="img/cerveceria_cover.jpg" alt="" class="section-cover img-responsive" />
                    <div class="img-border"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 right-column">

                <h3 class="small-title"><img src="img/cerveceria_logo.png" alt="Cervecería de Colima" class="project_logo"/></h3>
                <p>Parrafo acerca de nuestro trabajo para <strong>Cervecería de Colima</strong> gracias a nuestros amigos de <strong>Cantaloop</strong></p>

                <p>Visita la nueva página en <a href="http://cerveceriadecolima.com" target="_blank">cerveceríadecolima.com</a></p>

            </div><!-- .right-column -->

        </div><!-- .row -->



    </div>
    <!-- / .content -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="p-group col-xs-12 col-sm-10 col-md-8" style="margin-bottom: 0;">
            <h2 class="section-title uppercase" style="margin-left: 0;">Quienes Somos</h2>

            <p><strong>Fábrica de Software</strong> es una empresa de desarrollo de aplicaciones web basada en Morelia, Michoacán. Nuestros clientes incluyen universidades, secretarías de gobierno, gasolineras, constructoras y hasta una cervecería artesanal.</p>

            <p>Creemos en cultivar excelencia en tecnología y diseño. Por eso siempre estamos refinando nuestro oficio y buscando nuevas maneras de colaborar.</p>

            <p>Nuestra dinámica de trabajo se basa en repositorios compartidos a través de SourceTree, reuniones presenciales frecuentes, comunicación constante en Slack y seguimiento de tareas en Asana. </p>
          </div>
        </div>
      </div>
    </div>

  	<!-- Bootstrap Core -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  	<!-- /Bootstrap Core -->

</body>
