
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #000;
    font-size: 17px;
}

.nav-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  margin-left: 15px;
  margin-top: 18px;
}

.nav-title a {
  font-weight: 500;
  color: black;
}

.section-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.small-title {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 26px;
  font-weight: bold;
}

h3 span {
  display: inline-block;
}

p {
  line-height: 26px;
  margin-bottom: 20px;
}

a {
  font-weight: bold;
  color: #007aff;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: #e53f22;
  text-decoration: none;
}

a:active {
  color: #e53f22;
  text-decoration: none;
  position: relative;
  top: 1px;
}

.retina {
  width: 50%;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  position: relative;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 99;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */
@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0)
{ 

  .navbar {
      background-color: rgba(255, 255, 255, 0.85);
  }
}

.container {
  padding: 0;
}

.content {
  padding-top: 60px;
}

.img-responsive-container {
  margin-left: -15px;
  margin-right: -15px;
}

.first-section h2 {
  margin-top: 20px;
}

.social-icons {
  position: absolute;
  bottom: 40px;
}

.social-icons-group {
  margin-top: 10px;
  display: block;
}

.social-icons span a img {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.uppercase {
  text-transform: uppercase;
}

.project_logo {
  margin-bottom: 20px;
}

.logo_almirante {
  width: 75%;
  max-width: 288px;
}

.logo_moreliahacks {
  width: 60%;
  max-width: 247px;
  margin-top: -81px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .nav-title {
    font-size: 34px;
    line-height: 34px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h2 {
    margin-left: 20px;
  }

  .right-column h2 {
    margin-left: 0;
  }

  .navbar {
    height: 80px;
  }

  .container {
    width: 100%;
  }

  .content {
    padding-top: 80px;
  }

  .row {
    padding-bottom: 40px;
  }

  .img-responsive-container {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .img-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 5px;
    border: 1px solid rgba(127, 127, 127, 0.2);
  }

  .section-cover {
    border-radius: 5px;
  }

  .first-section h2 {
    margin-top: 0px;
  }

  .logo_almirante {
    width: 67%;
    margin-top: -20;
  }

  .logo_moreliahacks {
    width: 50%;
    margin-top: -20px;
  }

  .logo_torix {
    width: 50%;
    margin-top: -20;
  }

  .cv h3 {
    margin-top: 0;
  }

  .logo_almirante_cv {
    width: 162px;
    position: relative;
    top: 19px;
  }

  .logo_enliken_cv {
    width: 162px;
    position: relative;
    top: 10px;
  }

  .logo_ctk_cv {
    width: 162px;
    position: relative;
    top: 5px;
  }

  .logo_soma_cv {
    width: 182px;
    position: relative;
    top: -2px;
  }

  .logo_fullsail_cv {
    width: 182px;
    position: relative;
    top: 10px;
  }

  .logo_itesm_cv {
    width: 182px;
    position: relative;
    top: 4px;
  }

}


/* Desktop */
@media only screen and (min-width : 992px) {

  .first-section {
    padding-bottom: 40px;
  }

  .social-icons-group {
    display: inline-block;
  }

  .social-icons {
    /*bottom: 80px;*/
  }

  .linebreak-992 {
    display: inline-block;
  }

  .logo_almirante_cv {
    width: 218px;
    top: 9px;
  }

  .logo_enliken_cv {
    width: 218px;
    top: -3px;
  }

  .logo_ctk_cv {
    width: 218px;
    top: 5px;
  }

  .logo_fullsail_cv {
    width: 218px;
    top: 4px;
  }

  .logo_itesm_cv {
    width: 218px;
    top: -7px;
  }

}

/* Large Screens */
@media only screen and (min-width : 1024px) {

  .container {
    width: 1024px;
  }

}


/*

NUEVOS ESTILOS FáBRICA DE SOFTWARE

*/

.nowrap {
  display: inline-block;
} /*.nowrap*/

.back-link {
  margin-top: 20px;
}

.p-group {
  margin-bottom: 0px;
}

.vacantes .title {
  margin-bottom: 20px;
}

.vacantes .item {
  margin-bottom: 20px;
}

.footer {
  background: #f5f5f5;
  padding-top: 10px;
}

@media (min-width: 768px) {

  .vacantes {
    padding-left: 25px;
    padding-right: 25px;
  }

  .vacantes .title h2 {
    margin-left: 0;
    margin-right: 0;
  }

  .footer {
    padding-top: 20px;
  }

  .footer .container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .vacantes {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 996px) {
    .footer {
      padding-top: 40px;
    }
  }
} /* @media (min-width: 992px)*/
